<ul>
    <li>
        <a asp-page="Home">Home</a>
    </li>
    <li>
        <a asp-page="about">About</a>
    </li>
    <li>
        <a asp-page="CategoriesPage">Categories</a>
    </li>
    <li>
        <a asp-page="login">Login</a>
    </li>
</ul>
