@page
@model aboutModel




<title>
    About
</title>

<h1>
    About
</h1>
<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut asperiores consequatur corporis? Consequuntur quae
    unde dolor nisi deleniti non quia eligendi eius nostrum. Eligendi voluptatem quidem at sint? Eligendi, id?
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia ab magnam beatae, itaque repudiandae illum odit,
    consequuntur autem laboriosam fugiat tempore ipsa quae iure? Nostrum placeat consectetur rerum quae sapiente?
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, reprehenderit delectus deserunt aliquam minima
    quibusdam assumenda vero maiores earum harum, tempore nam, fuga blanditiis perferendis quam aut quaerat in cum.
</p>