@page
@model MyRazorApp.Pages.IndexModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <title>
        Olá, Mundo!
    </title>
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Title<td>
                    <td>Price</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Categories)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Title<td>
                        <td>@item.Price.ToString("C")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>

</html>