@page
@model MyRazorApp.Pages.loginModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <title>
        Login
    </title>
    <body>
        <div>
            <label for="login">Login:</label>
            <input type="email" name="login"/>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" />
            <button>Login</button>
        </div>
    </body>
</head>
</html>
